<%- include('./partials/header.ejs') %>
<body>
  <div class="container">
    <h1>Add Book</h1>
    <div class="row">
      <form action="/add" method="post">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="u-full-width">
        <label for="author">Author</label>
        <input type="text" name="author" id="author" class="u-full-width">
        <label for="imageURL">Image URL</label>
        <input type="text" name="imageURL" id="imageURL" class="u-full-width">
        <label for="Description">Description</label>
        <textarea name="description" id="description" class="u-full-width"></textarea>
        <input type="submit" value="Add Book" class="button-primary">
      </form>
    </div>
  </div>
</body>
</html>